# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/codeStyles/Project.xml
.idea/Metaheuristics.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
cmake-build-debug/
libs/
.idea/inspectionProfiles/Project_Default.xml
